/** font-family: 'Roboto', sans-serif; **/
.body__container {
    width: 1040px;
    margin: 0 auto;
    position: relative;
}
.block__welcome {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 1024px;
    position: relative;
}

/** МЕНЮ **/
.menu {
    padding: 30px 50px 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-item {
    padding-bottom: 15px;
}
.menu-text a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
.menu-item {
    position: relative;
}
.menu-text::before {
    content: '';
    position: absolute;
    top: 7px;
    left: -15px;
    width: 0px;
    height: 2px;
    background: red;
    transition: all 0.5s ease 0s;
}
.menu-text:hover::before {
    width: 10px;
}
/********************************/

/** КОНТЕНТ ЧАСТЬ БЛОКА WELCOME **/
.web__develop {
    position: absolute;
    top: 640px;
    left: 0;
    transform: rotate(-90deg);
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}
.web__develop p{
    font-family:  'Roboto', sans-serif;;
    font-size: 36px;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: transparent;
}
.welcome__content {
    margin-top: 330px;
}
.welcome__title,
.welcome__subtitle,
.welcome__slide {
    width: 430px;
    margin: 0 auto;
}
.welcome__subtitle {
    padding-bottom: 50px;
}
.welcome__title h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: white;
}
.welcome__subtitle p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
}
.slide-down {
    margin: 30px;
}
.slide-down span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid red;
    border-right: 5px solid red;
    transform: rotate(45deg);
    margin: -10px;
    animation: slide-down 3s infinite;
}
.slide-down span:nth-child(2){
    animation-delay: -0.2s;
}
.slide-down span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes slide-down {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
.welcome__social {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 50px;
    right: 200px;
}
.welcome__social-item a{
    font-size: 24px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
}
.welcome__social-item a:hover {
    color: red;
    transition: 0.5s;
}
/*********************************/

/** БЛОК ПЕРЕД ПОРТФОЛИО **/
.block__before-portfolio {
    position: relative;
}
.before__text-contur {
    position: absolute;
    transform: rotate(-90deg);
    top: 300px;
    left: 64px;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}
.before__text-contur p {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 700;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: transparent;
}
.before__title {
    padding-top: 100px;
}
.before__title p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: black;
    margin-left: 150px;
}
.before__text {
    margin-top: 50px;
    margin-left: 150px;
}
.before__text p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
}
.run__text {
    margin-top: 130px;
    margin-bottom: 50px;
}
.run__text p {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 400;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
    color: transparent;
}
/*********************************/
/** ПОРТФОЛИО **/
.portfolio__title h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: black;
}
.portfolio__cards {
    margin-top: 50px;
    padding-bottom: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.portfolio__items {
    width: 200px;
    height: 200px;
    background: #C4C4C4;
    position: relative;
}
.portfolio-item {
    position: relative;
}
.portfolio-item a img {
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    transform:  scale(1);
    transition: transform 0.3s ease 0s;
}
.portfolio-des {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    transform: scale(0);
    transition: transform 0.7s ease 0s;
}
.portfolio-des p {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 50%;
    transform: translateY(-50%);
}
.portfolio-item a::before {
    content: '';
    display: block;
    background: url(../img/portfolio_hover.png);
    width: 200px;
    height: 200px;
    transform: scale(0);
    transition: all 0.7s ease 0s;
}
.portfolio-item a:hover img {
    transform: scale(0);
}
.portfolio-item a:hover::before{
    transform: scale(1);
}
.portfolio-item a:hover .portfolio-des{
    transform: scale(1);
}
/********************************/
/** УСЛУГИ **/
.services__title h2 {
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: black;
    text-align: right;
}
.services__items {
    margin-top: 60px;
    cursor: pointer;
}
.services__cards {
    margin-left: 180px;
    height: 640px;
}
.services-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.services__name {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.services__name a {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: black;
}
.services__number p {
    position: absolute;
    top: -10px;
    left: -33px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: black;
}
.services__name a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -60px;
    transform: translate(-100%, -50%);
    width: 0px;
    height: 2px;
    background: black;
    transition: width 0.7s ease 0s;
}
.services__items:hover .services__name a::before {
    width: 100px;
}
.services__hover {
    position: absolute;
    right: 0;
    opacity: 0;
    transform: translate(-50%, 0%);
    transition: all 0.7s ease 0s;
}
.services__hover-text p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 400;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.8);
    color: transparent;
}
.services__items:hover .services__hover {
    opacity: 1;
    transform: translate(0%, 0%);
}
.services__des {
    width: 420px;
    margin-left: 0;
    margin-top: 30px;
    display: none;
}
.services__des p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
}
.run__services p {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 400;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
    color: transparent;
    padding-bottom: 100px;
}
/********************************/
/** КОНТАКТЫ **/
.block__contact {
    background: url(../img/contact-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 1024px;
    position: relative;
}
.contact__title h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: white;
    padding-top: 100px;
}
.contact__subtitle p {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
    color: transparent;
    text-align: right;
}
.contact__form {
    position: absolute;
    right: 0;
}
.contact-form__title {
    margin-top: 80px;
}
.contact-form__title p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
}
.form__items {
    padding-top: 50px;
}
.form-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
.contact-form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    padding-bottom: 10px;
}
input.contact-form__input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: black;
    width: 395px;
    height: 50px;
    background: white;
    border-radius: 10px;
    padding-left: 10px;
}
.contact-form__select {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: black;
    width: 395px;
    height: 50px;
    background: white;
    border-radius: 10px;
    padding-left: 10px;
}
.contact-form__textarea textarea{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: black;
    width: 395px;
    height: 70px;
    resize: none;
    background: white;
    border-radius: 10px;
    padding: 10px;
}
.contact__content {
    position: absolute;
    margin-left: 50px;
    margin-top: 190px;
}
.contact__number p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
}
.contact__social {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.contact__social-item a{
    font-size: 24px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
}
.contact__social-item a:hover {
    color: red;
    transition: 0.5s;
}
.contact__up {
    margin-top: 280px;
}
/******************************/
.block__footer {
    background: black;
    height: 100px;
    position: absolute;
    bottom: 0;
}

/** АНИМАЦИЯ **/
.welcome__title._anim-item {
    opacity: 0;
    transform: translateY(50%);
}
.welcome__subtitle._anim-item {
    opacity: 0;
    transform: translateX(-50%);
}
.welcome__title._anim-item._anim-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease 0.5s;
}
.welcome__subtitle._anim-item._anim-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s ease .5s;
}
.portfolio__cards .portfolio__items._anim-item {
    opacity: 0;
    transform: translateY(50%);
}
.portfolio__cards .portfolio__items:nth-child(1)._anim-item._anim-active {
    opacity: 1;
    transform: translateY(0%);
    transition: all 1s ease 0s;
}
.portfolio__cards .portfolio__items:nth-child(2)._anim-item._anim-active {
    opacity: 1;
    transform: translateY(0%);
    transition: all 1s ease 0.5s;
}
.portfolio__cards .portfolio__items:nth-child(3)._anim-item._anim-active {
    opacity: 1;
    transform: translateY(0%);
    transition: all 1s ease 1s;
}
.portfolio__cards .portfolio__items:nth-child(4)._anim-item._anim-active {
    opacity: 1;
    transform: translateY(0%);
    transition: all 1s ease 1.5s;
}
/******************************/